.DS_Store
*.ao
*.so
*.pyc
.nfs.*
*.orig
*.rej
*.exe
.*.swp
core
_obj
_test
_testmain.go
test.out
build.out
doc/htmlgen
test/pass.out
test/run.out
test/times.out
test/garbage/*.out
goinstall.log
doc/codelab/wiki/*.bin
/bin/
/pkg/
