.auth-hero {
	height: 500px;
	padding: 100px 30px 30px 30px;
	background: $color-blue;
	color:$color-cream;

	form {
		color:$color-cream;
		h3 {
			color:$color-cream;
		}

		fieldset {
			border: none;
		}
	}
}
